<%- include('partials/header')%>
<h1> Socket Chat App</h1>
<div class="conversionArea">
  <div class="messages"></div>
  <div class="inputs">
    <input type="text" placeholder="Type A Message">
    <button>Send</button>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  function incomingMessage(msg){
    document.querySelector('.messages').innerHTML+=`<div class="msg incomingMessage">${msg}</div>`;
  }
    function outgoingMessage(msg){
    document.querySelector('.messages').innerHTML+=`<div class="msg outgoingMessage">${msg}</div>`;
  }

  const input = document.querySelector('input')
  const button = document.querySelector('button')

  function sendMessage(){
const msg = input.value.trim();
if (msg !=='') {
  outgoingMessage(msg);
  socket.emit('newmsg',msg)
  input.value='';
}
  }
  // click event
button.addEventListener('click',sendMessage);

// key event
  input.addEventListener('keydown',(e)=>{
    if (e.key === 'Enter') {
      sendMessage();
    }
  });

  socket.on('incomingMessage',(message)=>{
    incomingMessage(message);
  })
</script>
<%- include('partials/footer')%>
  
